@page "/counter"
@using Blazorise.Cropper

<PageTitle>Counter</PageTitle>
<Blazorise.Components.Autocomplete TItem="string" TValue="string" TextField="@((item)=>item)" ValueField="@(item=>item)" Data="Data" FreeTyping/>
<Cropper Source="https://placehold.co/600x400" />
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    @code {
        private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

        private List<string> Data { get; set; } = new List<string> { "U-TEST1", "U-TEST2", "C-TEST3" };
}
